Repository percona/everest, pull requests merged in 2025-03, with the labels that each got.

#1127 EVEREST-107 Fix Tiltfile
  dev/Tiltfile
  go.mod
  go.sum
Labels: auto-update-base

#1145 Add possibility to Tilt to create BackupStorages during namespace provisioning
  .github/minio.conf.yaml
  dev/.env.example
  dev/.gitignore
  dev/README.md
  dev/Tiltfile
  dev/config.yaml
  dev/config.yaml.example
  dev/resources/backupstorage.yaml
Labels: auto-update-base

#1166 EVEREST-107 fix artifacts name for CLI test reports
  .github/workflows/cli-tests.yml
Labels: auto-update-base

#1077 [UI] EVEREST-1711 Remove final confirmation step from the wizard
  go.mod
  go.sum
  ui/apps/everest/.e2e/pr/db-cluster-details/edit-db-cluster/db-version-upgrade.e2e.ts
  ui/apps/everest/.e2e/pr/db-cluster-details/edit-db-cluster/edit-db-cluster.utils.ts
  ui/apps/everest/.e2e/pr/db-cluster-details/edit-db-cluster/resources-step.e2e.ts
  ui/apps/everest/.e2e/pr/db-cluster/db-wizard/create-db-cluster/create-db-cluster.e2e.ts
  ui/apps/everest/.e2e/release/demand-backup.e2e.ts
  ui/apps/everest/.e2e/release/init-deploy.e2e.ts
  ui/apps/everest/.e2e/release/pitr.e2e.ts
  ui/apps/everest/.e2e/release/scheduled-backup.e2e.ts
  ui/apps/everest/.e2e/utils/db-wizard.ts
  ui/apps/everest/.e2e/utils/table.ts
  ui/apps/everest/src/components/status-field/status-field.tsx
  ui/apps/everest/src/components/status-field/status-field.types.ts
  ui/apps/everest/src/components/status-field/status-field.utils.ts
  ui/apps/everest/src/pages/database-form/database-form-body/steps/confirmation-screen/ConfirmationScreen.messages.ts
  ui/apps/everest/src/pages/database-form/database-form-body/steps/confirmation-screen/ConfirmationScreen.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/steps/confirmation-screen/index.ts
  ui/apps/everest/src/pages/database-form/database-form.tsx
  ui/apps/everest/src/pages/databases/DbClusterView.constants.ts
  ui/apps/everest/src/pages/databases/DbClusterView.tsx
  ui/apps/everest/src/pages/databases/DbClusterView.utils.ts
  ui/apps/everest/src/pages/databases/dbClusterView.messages.tsx
  ui/apps/everest/src/pages/db-cluster-details/db-cluster-details.tsx
  ui/apps/everest/src/shared-types/dbCluster.types.ts
  ui/packages/ui-lib/src/icons/icons.stories.tsx
  ui/packages/ui-lib/src/icons/status/status.tsx
Labels: auto-update-base, feature-build

#1110 [UI] EVEREST-1374 Fix validation for monitoring endpoints and backup storages name
  ui/apps/everest/src/components/schedule-form-dialog/schedule-form/schedule-form-schema.ts
  ui/apps/everest/src/pages/database-form/database-form-schema.ts
  ui/apps/everest/src/pages/settings/monitoring-endpoints/createEditModal/create-edit-modal.test.tsx
  ui/apps/everest/src/pages/settings/monitoring-endpoints/createEditModal/create-edit-modal.types.ts
  ui/apps/everest/src/pages/settings/storage-locations/createEditModal/create-edit-modal.test.tsx
  ui/apps/everest/src/pages/settings/storage-locations/storage-locations.types.ts
  ui/apps/everest/src/utils/common-validation.ts
  ui/apps/everest/src/utils/tests/validate-rfc1035.tsx
Labels: auto-update-base, feature-build

#1121 [UI] EVEREST-1350 Display IP address with netmask same as backend
  ui/apps/everest/src/components/cluster-form/advanced-configuration/advanced-configuration.tsx
  ui/packages/ui-lib/src/form/inputs/text-array/text-array.tsx
  ui/packages/ui-lib/src/form/inputs/text-array/text-array.types.ts
Labels: auto-update-base, feature-build

#1175 [UI] EVEREST-1202 Remove focus state after the user clicks out (table header icons)
  ui/packages/design/src/themes/base/BaseTheme.tsx
Labels: auto-update-base, feature-build

#1195 EVEREST-1772 add security headers
  go.mod
  go.sum
  internal/server/everest.go
  internal/server/middlewares.go
  pkg/oidc/configure.go
  pkg/oidc/oidc.go
  ui/apps/everest/index.html
  ui/apps/everest/package.json
  ui/apps/everest/src/App.tsx
  ui/pnpm-lock.yaml
Labels: auto-update-base

#1171 EVEREST-1280 | Moving Storage class from first step to Advanced Configurations step
  ui/apps/everest/.e2e/pr/db-cluster/db-wizard/create-db-cluster/create-db-cluster.e2e.ts
  ui/apps/everest/.e2e/pr/db-cluster/db-wizard/create-db-cluster/steps/basic-information-step.ts
  ui/apps/everest/src/components/advanced-card/advanced-card.tsx
  ui/apps/everest/src/components/advanced-card/index.ts
  ui/apps/everest/src/components/cluster-form/advanced-configuration/advanced-configuration-schema.ts
  ui/apps/everest/src/components/cluster-form/advanced-configuration/advanced-configuration.tsx
  ui/apps/everest/src/components/cluster-form/advanced-configuration/advanced-configuration.types.ts
  ui/apps/everest/src/components/cluster-form/advanced-configuration/advanced-configuration.utils.ts
  ui/apps/everest/src/components/cluster-form/advanced-configuration/messages.ts
  ui/apps/everest/src/pages/database-form/database-form-body/steps/advanced-configurations/advanced-configurations.test.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/steps/advanced-configurations/advanced-configurations.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/steps/first/first-step.messages.ts
  ui/apps/everest/src/pages/database-form/database-form-body/steps/first/first-step.test.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/steps/first/first-step.tsx
  ui/apps/everest/src/pages/database-form/database-form-schema.ts
  ui/apps/everest/src/pages/database-form/database-form.messages.ts
  ui/apps/everest/src/pages/database-form/database-form.utils.ts
  ui/apps/everest/src/pages/database-form/database-preview/sections/advanced-configurations-section.tsx
  ui/apps/everest/src/pages/database-form/database-preview/sections/section-one.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/advanced-configuration/edit-advanced-configuration/edit-advanced-configuration.tsx
Labels: auto-update-base, feature-build

#1205 Everest 1921 | upgrade version dropdown labels
  ui/apps/everest/src/components/cluster-form/db-version/utils.test.ts
  ui/apps/everest/src/components/cluster-form/db-version/utils.ts
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/basic.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/upgrade-db-version-modal/upgrade-db-version-modal.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/upgrade-db-version-modal/upgrade-db-version-modal.types.ts
  ui/packages/ui-lib/src/form/inputs/select/select.tsx
  ui/packages/ui-lib/src/form/inputs/select/select.types.ts
Labels: auto-update-base, feature-build

#1221 Add possibility to set Go build ENV vars to Tiltfile
  dev/.env.example
  dev/Tiltfile
  pkg/kubernetes/client/gen.go
  pkg/kubernetes/client/kubeclient_interface.gen.go
  pkg/kubernetes/gen.go
  pkg/kubernetes/kubernetes_interface.gen.go
Labels: auto-update-base

#1196 EVEREST-1911 | fix flickering cluster table after wizard
  ui/apps/everest/src/api/dbClusterApi.ts
  ui/apps/everest/src/hooks/api/db-cluster/useCreateDbCluster.ts
  ui/apps/everest/src/pages/database-form/database-form.tsx
Labels: auto-update-base, feature-build

#1097 Everest-1312 [CLI] Deprecate `--operator.xtradb-cluster` flag
  .github/workflows/dev-be-ci.yaml
  .github/workflows/dev-fe-e2e.yaml
  README.md
  api-tests/README.md
  cli-tests/tests/flow/mongodb-operator.spec.ts
  cli-tests/tests/flow/namespaces.spec.ts
  cli-tests/tests/flow/pg-operator.spec.ts
  cli-tests/tests/flow/pxc-operator.spec.ts
  commands/install.go
  commands/namespaces/add.go
  commands/namespaces/update.go
  dev/fb/cli.sh
  go.mod
  go.sum
  internal/server/handlers/rbac/database_engine_test.go
  pkg/cli/flags.go
  pkg/cli/namespaces/add.go
  pkg/cli/namespaces/utils.go
  pkg/cli/upgrade/upgrade.go
  pkg/common/constants.go
  ui/apps/everest/src/components/main/Main.messages.ts
Labels: auto-update-base, feature-build

#1202 [Ui] EVEREST-1920 Fix display of custom nodes in resources widget
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/resources-details.tsx
Labels: auto-update-base, feature-build

#1144 Everest-1763 | disallow one node descaling
  ui/apps/everest/src/components/cluster-form/resources/constants.ts
  ui/apps/everest/src/components/cluster-form/resources/resources.tsx
  ui/apps/everest/src/components/cluster-form/resources/utils.ts
  ui/apps/everest/src/pages/database-form/database-form-schema.ts
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/resources/resources-edit-modal.test.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/resources/resources-edit-modal.tsx
Labels: auto-update-base, feature-build

#1235 EVEREST-1930 Add upgrading state
  ui/apps/everest/src/components/status-field/status-field.types.ts
  ui/apps/everest/src/components/status-field/status-field.utils.ts
  ui/apps/everest/src/pages/databases/DbClusterView.constants.ts
  ui/apps/everest/src/pages/databases/DbClusterView.utils.ts
  ui/apps/everest/src/pages/databases/dbClusterView.messages.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/basic.tsx
  ui/apps/everest/src/shared-types/dbCluster.types.ts
Labels: feature-build

#1080 EVEREST-1841 MongoDB Major Version Upgrades
  go.mod
  go.sum
  internal/server/handlers/validation/database_cluster.go
  internal/server/handlers/validation/database_engine_test.go
  internal/server/handlers/validation/errors.go
  ui/apps/everest/.e2e/pr/db-cluster-details/edit-db-cluster/db-version-upgrade.e2e.ts
  ui/apps/everest/src/components/cluster-form/db-version/utils.test.ts
  ui/apps/everest/src/components/cluster-form/db-version/utils.ts
  ui/apps/everest/src/components/status-field/status-field.types.ts
  ui/apps/everest/src/components/status-field/status-field.utils.ts
  ui/apps/everest/src/pages/databases/DbClusterView.constants.ts
  ui/apps/everest/src/pages/databases/DbClusterView.utils.ts
  ui/apps/everest/src/pages/databases/dbClusterView.messages.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/basic.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/upgrade-db-version-modal/upgrade-db-version-modal.tsx
  ui/apps/everest/src/pages/db-cluster-details/cluster-overview/cards/db-details/basic-information/upgrade-db-version-modal/upgrade-db-version-modal.types.ts
  ui/apps/everest/src/shared-types/dbCluster.types.ts
  ui/packages/ui-lib/src/form/inputs/select/select.tsx
  ui/packages/ui-lib/src/form/inputs/select/select.types.ts
Labels: auto-update-base, feature-build

#1068 Everest-1809 | show wizard errors on sidebar
  ui/apps/everest/.e2e/pr/db-cluster/db-wizard/create-db-cluster/create-db-cluster.e2e.ts
  ui/apps/everest/.e2e/pr/db-cluster/db-wizard/create-db-cluster/errors-handling.e2e.ts
  ui/apps/everest/.e2e/pr/db-cluster/db-wizard/create-db-cluster/sharding.e2e.ts
  ui/apps/everest/.e2e/utils/db-wizard.ts
  ui/apps/everest/src/components/cluster-form/advanced-configuration/advanced-configuration.tsx
  ui/apps/everest/src/components/cluster-form/resources/resources.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/DatabaseFormBody.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/DatabaseFormStepControllers.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/steps/first/first-step.tsx
  ui/apps/everest/src/pages/database-form/database-form-body/types.ts
  ui/apps/everest/src/pages/database-form/database-form-side-drawer/DatabaseFormSideDrawer.tsx
  ui/apps/everest/src/pages/database-form/database-form-side-drawer/DatabaseFormSideDrawer.types.ts
  ui/apps/everest/src/pages/database-form/database-form.constants.ts
  ui/apps/everest/src/pages/database-form/database-form.tsx
  ui/apps/everest/src/pages/database-form/database-form.utils.ts
  ui/apps/everest/src/pages/database-form/database-preview/database-preview.test.tsx
  ui/apps/everest/src/pages/database-form/database-preview/database-preview.tsx
  ui/apps/everest/src/pages/database-form/database-preview/database-preview.types.ts
  ui/apps/everest/src/pages/database-form/database-preview/preview-section.tsx
  ui/apps/everest/src/pages/database-form/useDatabaseFormDefaultValues.ts
Labels: auto-update-base, feature-build
